<div class="container">
  <h2>Create a new Restaurant</h2>

  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Create new Restaurant', class: 'btn btn-primary' %>
  <% end %>
</div>
